body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
}

a:hover{
    text-decoration: none;
}

h3.logo{
    max-width: 200px;
    height: 130px;
}

h2 i.userName{
    font-size: 20px;
}

table.option tr th {
    font-size: 13px;
    height: 20px !important;
    padding: 5px;
}

table.option tr td {
    font-size: 13px;
    padding-left: 5px;
    padding-bottom: 2px;
}

label.custom-file-label {
    color: grey;
}

input.custom-file-input{
    cursor: pointer;
}

button.option {
    background:none!important;
    color:inherit;
    border:none;
    padding:0!important;
    font: inherit;
    cursor: pointer;
    margin-top: 2px;
}


